ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 26px;
  padding: 0 26px;
  @media screen and (min-width: 418px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  @media screen and (min-width: 576px) {
    padding: 0 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 42px;
  }
  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: 1224px) {
    grid-template-columns: repeat(5, 1fr);
  }
  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // min-height: 60vw;
  }
  & img {
    width: 100%;
    height: auto;
  }
}

.landing__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $sirenia;
  padding-bottom: 44px;
  & span:first-child {
    font-size: 12px;
    font-family: "manrope", sans-serif;
    color: #6F3E16;
  }
  & span:last-child {
    font-size: 36px;
  }
}
