.products {
  margin-top: 62px;
  width: 100%;
  padding: 0 18px;
  &__image {
    display: block;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__img {
      position: relative;
      z-index: 2;
      pointer-events: none;
      width: 100%;
      height: 100%;
      transition: transform 1s ease, opacity 1s ease;
    }
    &__placeholder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: #f0ece3;
    }
  }
  &__inner {
    margin-top: 62px;
    margin-bottom: 88px;
    & h1 {
      font-size: 32px;
      margin-top: 20px;
      font-family: "Gentium Book Basic", serif;
    }
    & p {
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: "Gentium Book Basic", serif;
      color: #dfa112;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 6px;
    &__row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      column-gap: 22px;
      &:first-child {
        margin-top: 13px;
      }
      & h3 {
        font-size: 16px;
        font-family: "Gentium Book Basic", serif;
        color: #222;
      }
      & h4 {
        font-size: 16px;
        color: #222;
      }
      & p {
        font-size: 16px;
        font-family: "Gentium Book Basic", serif;
        color: #bb8b1b;
      }
    }
  }
  &__related {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  }
}

.popup {
  position: fixed;
  top: 0%;
  right: 0%;
  background-color: $background_color;
  padding: 20px;
  z-index: 9999;
  width: 100%;
  color: #222;
  max-width: 500px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    &__success {
      display: inline-flex;
      align-items: center;
      column-gap: 8px;
    }
    & h3,
    a {
      font-size: 14px;
      font-family: "Manrope", sans-serif;
    }
    & a {
      cursor: pointer;
    }
  }
  &__product {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 26px;
    column-gap: 16px;
    &__info {
      display: flex;
      flex-direction: column;
      & h1 {
        font-size: 22px;
        font-family: $sirenia;
        margin-bottom: 4px;
      }
      & h2,
      h3 {
        font-size: 14px;
        font-family: "manrope", sans-serif;
        color: #757575;
        margin-bottom: 4px;
      }
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    width: 100%;
    column-gap: 12px;
    font-family: "manrope", sans-serif;
    font-weight: $regular;
    margin-top: 26px;
    &__cart {
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
      padding: 18px 24px;
      border-radius: 25px;
      text-transform: uppercase;
      border: solid 1px #ccc;
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #111;
    }
    &__checkout {
      background-color: #112926;
      color: #f0ece3;
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
      padding: 18px 24px;
      border-radius: 25px;
      text-transform: uppercase;
      flex: 1;
    }
  }
}

.product_container {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.product__title {
  font-size: 32px;
  font-family: $sirenia;
  color: var(--color);
}

.page__product {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 62px;
}

.product__image__img {
  position: relative;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
  pointer-events: none;
  transform: scale(1.1);
  transition: transform 0.8s ease, opacity 0.8s ease;
  &--visible {
    transform: scale(1);
  }
}

main {
  padding-top: 68px;
}

// .product__image {
//   width: 100%;
//   max-width: 100%;
//   height: 100%;
//   object-fit: cover;
//   transition: opacity .2s ease;
// }

.product__price {
  &--old {
    text-decoration: line-through;
  }
}

.product__button {
  display: flex;
  flex-direction: column;
  padding: 0 26px;
  &__addcart {
    background-color: #112926;
    color: #f0ece3;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    padding: 18px 24px;
    border-radius: 25px;
    text-transform: uppercase;
    width: 100%;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
