main {
  margin-top: 62px;
  padding-bottom: 62px;
}



ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 44px;
  padding: 0 26px;
  @media screen and (min-width: 418px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  @media screen and (min-width: 576px) {
    padding: 0 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 42px;
  }
  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: 1224px) {
    grid-template-columns: repeat(5, 1fr);
  }
  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
  }
  & img {
    width: 100%;
    height: auto;
  }
}
